# 1. In the below elements, which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

* : expressions
'hello' : values
-87.8 : values
- : expressions
/ : expressions
+ : expressions
6 : values

2. What is the difference between string and variable?

String : String is a type of information we store in a variable. It is an alphanumeric series. A string is usually enclosed with ""
Variable : A variable is a store of information.

Eg : String x = "I live in Madhya Pradesh"
x is a variable, and we declared it as a string.

3. Describe three different data types.

Float : Float is a type of data type in which decimal is used or decimal numbers are referred as float data type.
string :  A alphanumeric series
Integer : A numeric number

4. What is an expression made up of? What do all expressions do?

expressions are made up of numbers or numeric values with mathematical operators/sign. 
All expressions perform mathematical operations.
ex : 2+2 = 4 (here '+' is a mathematical operator performed a mathematical operation of 'adding numbers')

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

spam = 10, it is a statement, because there is no mathematical operator is used.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

22 is a value of bacon

In [8]:
bacon = 22
bacon + 1
print(bacon)

22

7. What should the values of the following two terms be?
'spam'+ 'spamspam'
'spam'*3

'spamspamspam'
'spamspamspam'

In [13]:
'spam' + 'spamspam'
'spam'*3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

eggs is a valid variable, while 100 is invalid because the variable cannot begin with numbers.

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

Integer : int() 
Floating-point number : float()
string : str()

In [14]:
a = 10
print(type(a))

<class 'int'>

In [15]:
a = str(a)
print(type(a))

<class 'str'>

In [16]:
a = float(a)
print(type(a))

<class 'float'>

10. Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 + 'burritos.'

This expression cause an error because string and integers can not be added.
We will fix this by putting quotes in the numbers.

In [17]:
'I have eaten' + 99 + 'burritos.'

TypeError: can only concatenate str (not "int") to str

In [24]:
'I have eaten' + '99' + 'burritos.'

'I have eaten99burritos.'